@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&family=Bree+Serif&display=swap');
:root {
    --primary-color: gold;
    --font-head: font-family: 'Baloo Bhai 2', cursive;
    --font-body: font-family: 'Bree Serif', serif;

 
  }
 
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Bree Serif', serif;
}

html{
  scroll-behavior: smooth;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('../images/bb.jpg');
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
    

    
}
.navbar {
  display: flex;
  background-color: #482684;
  position: sticky;
  top:0;
}

.navbar.is_stuck {
  background-color:rgb(100,0,0);
}
.navlist {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlist li {
  margin: 33px;
  list-style: none;
}

.navlist li a {
  text-decoration: none;
  color: white;
  padding: 22px;
  cursor: pointer;
}
.navlist li a:hover{
    color: gold;
}

/*logo starts */

.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo-img {
  height: 63px;
  width: 63px;
  border: 2px solid black;
  border-radius: 50px;
}



/*logo ends */

/*search starts */
.rightNav {
  width: 35%;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.search{
  padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 33px;
    margin: 0 15px;
}

.btn-sml{
  width: 82px;
    height: 40px;
    border: 2px solid var(--primary-color);
    color: white;
    border-radius: 11px;
    cursor: pointer;
    background-color: #482684;
    margin-top: 8px;
}
.btn-sml:hover{
  background-color: #f9d74966;
}

/*search ends */

/*first section start */

.firstsec{
    
    height: 80vh;
    display: flex;
    justify-content: center;}
.main-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-box-text{
    width: 80%;
}

.text-image{
    width: 20%;
}
.main-box-text{
    color: white;
    text-align: left;
}

.main-text{
    color: var(--primary-color);
    font-family: var(--font-head);
    font-size: 4.5rem;
}
.linkbutton{
    margin: 22px;
}
.link-btn{
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: var(--font-head);
    padding: 7px;
    margin: 13px 0;
    border: 2px solid var(--primary-color);
}
.link-btn:hover{
    background-color: #ffd7003d;
}

.logo-img-down{
    height: 183px;
    width: 183px;
    border: 2px solid #ffd7006e;
    border-radius: 50%;
  }


  .remove-space{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 67px;
    margin: 18px 0; }
/*first section end */
/*card section start */
.cardcon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -94px 0;
}

.card{
    background-color: white;
    width: 333px;
    height: 139px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.card-text{
    padding: 0 14px;
}

.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 3.3rem;
}
    .border-sh {
        border-color: transparent;
        box-shadow: 0 27px 24px -37px rgb(0 0 0 / 66%);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
}
/*card section end */

.hr{
  margin: 0 75px;
}

/*image text1 section start */

.imagetext{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 67px;
  margin: 62px 98px;

}

.sidetext{
width: 70%;
}

.sideimage{
width: 15%;
}

.heading{
  color: var(--primary-color);
  font-family: var(--font-head);
  font-size: 2.5rem;
}
/*image text1 section end */

.contact{
  margin: 33px 0;

}
.form{
  padding: 22px 0;
  display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.form-input{
  margin: 3px;
  width: 306px;
  padding: 6px;
  border: 1px solid var(--primary-color);
  border-radius: 22px;
  text-align: center;
  cursor: pointer;
}

.form-input:hover{
  background-color: #f9d7497a;;
}

#textarea{
  margin: 3px;
  width: 306px;
  padding: 6px;
  border: 1px solid var(--primary-color);
  border-radius: 22px;
  text-align: center;
  cursor: pointer;
}
#textarea:hover{
  background-color: #f9d7497a;;
}
.btn {
  width: 82px;
  height: 40px;
  border: 2px solid var(--primary-color);
  color: black;
  border-radius: 11px;
  cursor: pointer;
  background-color: #f9d7497a;
  margin-top: 13px;
}

.btn:hover{
  background-color: var(--primary-color);

}

.center-txt{
  text-align: center;
}

footer{
  background-color:#482684 ;
  display: flex;
  height: 62px;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}